<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="VNITDatabaseEntities" connectionString="metadata=res://*/VNITDatabase.VNITDB.csdl|res://*/VNITDatabase.VNITDB.ssdl|res://*/VNITDatabase.VNITDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLSERVER;initial catalog=VNITDatabase;user id=sa;password=123456;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>